<div class="container">
    <h1>Hola {{user.username}}</h1>
    <div class="row">
        <div id="profile-section" class="col-md-3">
            <div id="profile-pic">
                <img src="{{user.profilePic.path}}" alt="{{user.profilePic.originalName}}">
            </div>
            <a href="/recipes/addRecipe">Crear receta</a>
            <a href="/">Mostrar todas las recetas</a>
        </div>
        <div id="all-recipes" class="col-md-9">
            <h2>Todas mis recetas</h2>
            <div id="recipes">
                {{#each recipes}}
                    <div class="recipe-small">
                        <a href="/recipes/oneRecipe/{{this._id}}">{{> recipePartial this}}</a>
                        
                      <a href="/recipes/delete/{{this._id}}">
                      <button>Borrar</button>
                      </a>
                      <a href="/recipes/edit/{{this._id}}">
                          <button>Editar</button>
                          </a>
                    </div>
                {{/each}} 
            </div>
        </div>
    </div>
</div>