<div class="container">
  <form action="/recipes/edit/{{recipe._id}}" method="POST" enctype="multipart/form-data">
    <div id="create">

      <div class="row">
        <div class="col-md-6">
          <div id="photo">
            <div class="recipe-big-photo">
              <img src="{{recipe.recipePic.path}}" alt="{{recipe.recipePic.originalName}}">
            </div>
          </div>
          <div class="recipe-time">
            <h2 for="elaborationTime">Tiempo de elaboración</h2>
            <input name="elaborationTime" value="{{recipe.elaborationTime}}">
          </div>
          <div id="ingredients">
            <h2 for="ingredients">Ingredientes</h2>
            {{#each recipe.ingredients}}
            <div class="ingredient">
              <input id="ingredient" name="ingredient" type="text" value="{{this}}">
            </div>
            {{/each}}
            <button id="addIngredientEdit">Add new ingredient</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="recipe-name">
            <h2 for="name">Nombre de la receta</h2>
            <input name="name" id="name" value="{{recipe.name}}">
          </div>
          <div id="photo">
            <h2>Foto de la receta</h2>
            <input type="file" name="photo">
          </div>
          <div id="category">
            <h2>Categoría</h2>
            <select name="category">
              <option>Entrante</option>
              <option>Primero</option>
              <option>Principal</option>
              <option>Postre</option>
              <option>Bebida</option>
            </select>
          </div>
          <div id="keywords">
            <h2>Palabras clave</h2>
            <div class="keyword">
              {{#each recipe.keywords}}
              <input id="keyword" name="keyword" type="text" value="{{this}}"> {{/each}}
            </div>
            <button id="addKeywordEdit">Add new keyword</button>
          </div>
          <div id="steps">
            <h2>Pasos</h2>
            {{#each recipe.steps}}
            <div class="step">
              <textarea id="step" class="oneStep" name="step" rows="5"> {{this}}</textarea>
            </div>
            {{/each}}
            <button id="addStepEdit">Add</button>
          </div>
        </div>
      </div>





      <button type="submit">Enviar</button>
    </div>
  </form>
  </body>
</div>